
= form_for [parent, @star_relationship], data: {remote: true} do |f|
  .row
    .span1
      %a#add_star_to_all.btn.btn-inverse{href:'#', rel: 'tooltip', title: 'Selected Star should ALWAYS appear.'}
        All
        %i.icon-arrow-down
    .span3
      %ul.unstyled.star_relationship.all
        %li= star_select
        
    .span1
      %a#add_star_to_any.btn.btn-inverse{href:'#', rel: 'tooltip', title: 'Selected Star or any of the below should appear.'}
        Any
        %i.icon-arrow-down
  .row
    .span2
      %ul.well-small.well#all_stars.unstyled.star_relationship_list
    .span1
    .span2
      %ul.well-small.well#any_stars.unstyled.star_relationship_list
    
  .btn-group
    %button.btn.btn-info#show_star_relationship_help(data-toggle="#star_relationship_help")
      Help
      %i.icon-info-sign
    = f.submit 'Save', class: 'btn btn-primary', data: {disable: "Saving..."}
  
  
  = render partial: 'help_modal'