<div class="modal hide fade" id="star_relationship_help" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Star Relationships</h3>
  </div>
  <div class="modal-body">
    <p class="lead">
      A <i>Star Relationship</i> means a list of stars which, appearing in a particular palace, portend a particular Qi.
    </p>
    <p>
      Normally, a <i>Star Relationship</i> means <em>all</em> of the listed stars must appear.  But a second, optional
      list of "any" stars can be given.  If a palace has everything listed under <em>All</em>, and <em>at least one</em> of those
      listed under <em>any</em>, then the relationship applies to the given palace.
    </p>
    <p class="lead">
      Select a star and click the "All" or "Any" buttons to add that star to the relationship according to the requirement.
    </p>
    <div class="well well-small">
      <h4>Example:</h4>
      <p>
        Given a relationship in Children's palace, with ALL of:
        <ul>
          <li>Empress</li>
          <li>Greedy Wolf</li>
        </ul>
        and ANY of:
        <ul>
          <li>Beauty</li>
          <li>Happiness</li>
        </ul>
        And the Children's palace has Empress, Greedy Wolf, and Beauty, then the auspices of that relationship apply to this chart.
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
