%h1 Members

= link_to "New Member", new_admin_member_path

- @members.each do |member|
  .member
    %span.member_email= member.email
    %span.member_controls
      = link_to 'Edit', edit_admin_member_path(member)
      = link_to 'Delete', admin_member_path(member), confirm: 'Really?', method: 'DELETE'
