<div id="timezone_select">
  <table>
    <tr>
      <td><h4>Region:</h4></td>
      <td><h4>Time Zone:</h4></td>
    </tr>
    <tr>
      <td><select name="region" id="region_select"></select></td>
      <td><select name="zone" id="zone_select"></select></td>
    </tr>
  </table>
</div>