
.span6
  %h3 My Charts
  = paginate @people, :theme => 'twitter-bootstrap'
  %ul.unstyled
    = render @people
.span6
  %h3 Animals
  = render partial: 'animal', collection: Branch::ANIMALS

%br
- if @people.empty?
  %div{align: :center}
    %div Add people you know and their dates of birth.
    %div Click "View PDF Chart" to view the chart in your browser 
    %div (some browsers will just download the file).
    %div Click "Download PDF" to download the file to your computer.

