.row#chart_container
  .chart.span9.well.well-small
    = render 'charts/title_info'
    = render @chart.palaces
  .span3.chart_details.well.well-small
    Thanks for your patience while I develop a new version.  Hopefully this layout isn't too boring.  I know there are still a few bugs, and I hope you'll be patient with it as I iron out the kinks.  Meantime, hopefully you will find the more streamlined design more and more usable.
    