#stems_and_branches.row
  %h1 Stems and Branches

  %h2 By Animal:

  - Branch.all.each do |branch|
    .span3.branch{class: branch.animal, style: "background-image: url(#{image_path("animals/#{branch.animal}.png")})"}
      %h3= branch.animal.titleize
      %ul.list_stuff.unstyled
        - Pillar.all.select{|t| t.branch.animal == branch.animal}.sort{|t, u| t.stem.id <=> u.stem.id}.each do |pillar|
          %li= link_to pillar.name, pillar_path(pillar.slug)

  -# %ul.list_stuff
  -#   - Pillar.all.each do |pillar|
  -#     %li= link_to pillar.name, pillar