
%h1 Submit Feedback
%p
  We welcome your feedback on how to make this application better. Please let us know of anything that isn't working,
  or if there is anything that you think could be better.  We're doing our best to make this an invaluable tool
  for practicing and learning.
  
= render partial: 'form'