$body-bgcolor: #000000;
$radius: 22px;

@mixin location($top, $left) {
  position: absolute;
  top: $top * 1px;
  left: $left * 1px;
}

@mixin red-face-font {
  font: 10px Verdana, Arial, Helvetica, sans-serif;
  color: #CC0000;
  a {
    color: #CC0000;
    &:visited {
      color: #CC0000;
    }
  }
}

@mixin content-font {
  
}

@mixin heading-font {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
//  font-family: Georgia, serif;
}

h1 {
  @include heading-font
}
h2 {
  @include heading-font
}
h3 {
  @include heading-font
}
h4 {
  @include heading-font
}


body {
  background-color: $body-bgcolor;
  a {
    color: #666;
    &:visited {
      color: #666;
    }
  }
}

#navigation {
  @include location(380, 10);
  @include red-face-font;
}

#content_wrapper {
  background-image:url('/assets/background.gif');
  background-repeat:repeat;
  border-top-left-radius: $radius;
  @include location(127, 145);
  min-width: 720px;
  min-height: 600px;
//  link: ;
//  link:visited
//  link="" vlink="#cc0000"
}

#content {
  min-height: 500px;
}

#title_image {
  @include location(37, 340);
}

#da_yuan_circle_image {
  @include location(0, 0);
}

#da_yuan_characters_image {
  @include location(180, 30);
  img {
    width: 78;
    height: 180;
  }
}

p {
  width: 600px;
}

#footer {
  @include red-face-font;
  width: 100%;
  vertical-align: bottom;
  text-align: center;
  bottom: 0;
  .contact_info {
    a {color: #cc0000;}
    margin-bottom: 40px;
    margin-top: 15px;
  }
  
}

#stamp_image {
  position: absolute;
  bottom: 0;
  right: 0;
}

ul.nav_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  a {
    display: block;
    width: 190px;
    padding: 4px;
    padding-left: 10px;
    font-size: 13px;
    text-decoration: none;
    &:hover {
      background-color: #3d0200;
    }
  }
}