// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$commentary-width: 400px;
$commentbox-width: ($commentary-width);

.comment {
  width: $commentbox-width;
  border-bottom-style: none;
  border-bottom-color: #b2b2b2;
  border-bottom-width: 1px;
  &:hover {
    background-color: white;
    border-radius: 6px;
  }
  position: relative;
  padding-bottom: 4px;
  .commentary {
    width: $commentary-width;
    p {
      margin: 0;
      margin-bottom: 3px;
      width: $commentary-width;
    }
  }
  .edit_comment {
    padding: 4px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    left: ($commentbox-width - 50px);
    display: none;
  }
  .delete_comment {
    padding: 4px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    left: ($commentbox-width - 25px);
    display: none;
  }
  &:hover .edit_comment,&:hover .delete_comment {
    display: block;
  }
  
}