@import "twitter/bootstrap/variables.less";
@import "twitter/bootstrap/mixins.less";

@import "animals.less";


.animal{
  .animal_block(75px);
}

.person {
  position: relative;
  padding: 4px;
  margin-bottom: 4px;
  .my_well();
}
